<p-card header="Filters" i18n-header="Mission search filter header|The header of the mission search card@@MissionsSearchFilterHeader">
    <div class="flex flex-col justify-center gap-2">
        <!-- Durations -->
        <div class="flex items-center gap-2">
            <p-checkbox inputId="short-duration" name="durations" value="short" [(ngModel)]="durations"></p-checkbox>
            <label for="short-duration"
                   i18n="Missions search filter short duration checkbox label|The label for the short duration in missions search filters@@MissionsSearchFiltersShortDurationsCheckbox">Short</label>
        </div>
        <div class="flex items-center gap-2">
            <p-checkbox inputId="middle-duration" name="durations" value="middle" [(ngModel)]="durations"></p-checkbox>
            <label for="middle-duration"
                   i18n="Missions search filter middle duration checkbox label|The label for the middle duration in missions search filters@@MissionsSearchFiltersMiddleDurationsCheckbox">Middle</label>
        </div>
        <div class="flex items-center gap-2">
            <p-checkbox inputId="long-duration" name="durations" value="long" [(ngModel)]="durations"></p-checkbox>
            <label for="long-duration"
                   i18n="Missions search filter long duration checkbox label|The label for the long duration in missions search filters@@MissionsSearchFiltersLongDurationsCheckbox">Long</label>
        </div>

        <!-- Contract Type -->
        <div class="flex items-center mt-4 gap-2">
            <p-checkbox inputId="full-time" name="contractType" value="fullTime"
                        [(ngModel)]="contractType"></p-checkbox>
            <label for="full-time"
                   i18n="Contract type full-time checkbox label|Label for full-time contract@@ContractTypeFullTimeCheckbox">Full-time</label>
        </div>
        <div class="flex items-center gap-2">
            <p-checkbox inputId="partial-time" name="contractType" value="partialTime"
                        [(ngModel)]="contractType"></p-checkbox>
            <label for="partial-time"
                   i18n="Contract type partial-time checkbox label|Label for partial-time contract@@ContractTypePartialTimeCheckbox">Part-time</label>
        </div>

        <!-- Remote Work -->
        <div class="flex items-center mt-4 gap-2">
            <p-checkbox inputId="remote-yes" name="remote" value="yes" [(ngModel)]="remote"></p-checkbox>
            <label for="remote-yes"
                   i18n="Remote work yes checkbox label|Label for remote yes option@@RemoteWorkYesCheckbox">Yes</label>
        </div>
        <div class="flex items-center gap-2">
            <p-checkbox inputId="remote-partial" name="remote" value="partial" [(ngModel)]="remote"></p-checkbox>
            <label for="remote-partial"
                   i18n="Remote work partial checkbox label|Label for remote partial option@@RemoteWorkPartialCheckbox">Partial</label>
        </div>
        <div class="flex items-center gap-2">
            <p-checkbox inputId="remote-no" name="remote" value="no" [(ngModel)]="remote"></p-checkbox>
            <label for="remote-no"
                   i18n="Remote work no checkbox label|Label for remote no option@@RemoteWorkNoCheckbox">No</label>
        </div>
    </div>
</p-card>
