<p-card class="lg:h-full flex">
    <div class="flex justify-center lg:justify-start lg:gap-20 lg:flex-col pt-10 items-center">
        @for (item of items; track item.label) {
            <div
                    [pTooltip]="item.label"
                    [routerLink]="item.routerLink"
                    class="flex justify-center items-center cursor-pointer grow lg:grow-0"
            >
                <i [ngClass]="item.icon" class="text-6xl"></i>
            </div>
        }
    </div>
</p-card>
