<div class="flex flex-col gap-5">
    <p-input-group>
        <input pInputText
               i18n-placeholder="Mission search bar keywords placeholder|The placeholder for the keywords field in the mission search bar@@MissionSearchBarKeywordsPlaceholder"
               placeholder="Keywords"/>
        <input pInputText
               i18n-placeholder="Mission search bar city placeholder|The placeholder for the city field in the mission search bar@@MissionSearchBarCityPlaceholder"
               placeholder="City"/>
        <p-button
                i18n-label="Mission search bar search button label|The label for the search button in the mission search bar@@MissionSearchBarSearchButtonLabel"
                label="Search"/>
    </p-input-group>
    <div class="flex flex-col lg:flex-row gap-5">
        <p-card header="Filters"
                i18n-header="Mission search filter header|The header of the mission search card@@MissionsSearchFilterHeader"
                class="px-3">
            <div class="flex flex-row lg:flex-col gap-5">
                @for (filter of filters; track filter.id) {
                    <div class="flex flex-col lg:justify-center gap-1">
                        <span class="font-bold">{{ filter.label }}</span>
                        @for (value of filter.values; track value.id) {
                            <div class="flex items-center gap-2">
                                <p-checkbox [inputId]="`${filter.id}-${value.id}`" [name]="filter.id" [value]="value.id"
                                            [(ngModel)]="filter.selected"></p-checkbox>
                                <label [for]="`${filter.id}-${value.id}`">{{ value.label }}</label>
                            </div>
                        }
                    </div>
                }
            </div>
        </p-card>
        <ul class="flex flex-col gap-4 grow">
            @for (mission of missions; track mission.id) {
                <li>
                    <p-card [header]="mission.title">
                        <div class="flex mx-10">
                            <div class="grow">
                                <div i18n="Mission duration title | The title for the mission duration field"
                                     class="font-bold">
                                    Duration
                                </div>
                                <div i18n="Mission location value | The mission duration in month">
                                    {{ mission.duration }} months
                                </div>
                            </div>
                            <div>
                                <div i18n="Mission location title | The title for the location duration field"
                                     class="font-bold">
                                    Location
                                </div>
                                <div>
                                    {{ mission.location }}
                                </div>
                            </div>

                        </div>
                    </p-card>
                </li>
            }
        </ul>
    </div>
</div>